[defaults]
inventory = inventory/hosts
host_key_checking = False
stdout_callback = yaml
gathering = explicit
deprecation_warnings = False

[inventory]
enable_plugins = host_list, script, auto, yaml, ini, toml
